.selectbox-container {
  width: 100%;
  position: relative;
}

.selectbox-currently-selected {
  cursor: pointer;
  display: block;
  width: 100%;

  padding: .375rem .75rem;

  background-color: var(--input-bg);
  font-family: var(--font-family);
  font-size: var(--input-font-size);
  border: var(--input-border);
  border-radius: var(--input-border-radius);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-clip: padding-box;
  box-shadow: none;
  outline: none;
}

.selectbox-currently-selected:active, .selectbox-currently-selected:focus  {
  outline: 1px solid var(--bs-primary);
}

.selected-wrapper {
  margin-bottom: 0.2rem;
}

.error-message {
  position: absolute;
}

.selected-wrapper::after {
  position: absolute;
  top: 70%;
  right: 20px;
  width: 0;
  height: 0;
  content: '';
  -o-transform: rotate(0) translate3d(0,-50%,0);
  -ms-transform: rotate(0) translate3d(0,-50%,0);
  -moz-transform: rotate(0) translate3d(0,-50%,0);
  -webkit-transform: rotate(0) translate3d(0,-50%,0);
  transform: rotate(0) translate3d(0,50%,0);
  border-width: 4px 4px 0px;
  border-style: solid;
  border-color: #6c7a86 transparent transparent;
}

.selectbox-options {
  padding: 0.3rem;
  position: absolute;
  display: block;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  border: 2px solid var(--bs-primary);
}

.items {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.item-row {
  padding: 0.3rem;
  border-top: 1px solid #dee2e6;
  cursor: pointer;
  user-select: none;
}

.item-row:hover, .item-row.active {
  background-color: rgba(0, 0, 0, 0.048);
}
